{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

<h5>{{asset.uuid|upper}}</h5>
<div class="row">
    <div class="col-6">
        <div class="card bg-dark">
            <div class="card-body">
                <span class="card-title"></span>
                <link rel="preload" class="responsive-img card-panel" href="{{ asset.uri_preview }}" as="image" crossorigin>
                {% if asset.asset_type == 'audio' %}
                <audio controls>
                    <source src="{{ asset.uri_preview }}" type="audio/mp3">
                </audio>
                {% elif asset.asset_type == 'video' %}
                <video width="100%" controls>
                    <source src="{{ asset.uri_preview }}" type="video/mp4">
                </video> 
                {% elif asset.asset_type == 'image' %}
                <img width="100%" align="center"  src="{{ asset.uri_preview }}"/>
                {% else %}
                <a href="{{ asset.uri_preview }}">File link</a>
                {% endif %}
                <form action="{% url 'asset_add_file_to_s3' asset.uuid %}" enctype="multipart/form-data" method="POST" class="card-panel">
                    {% csrf_token %}
                    <input type="file" name="photo-file">
                    <br><br>
                    <input type="submit" class="btn" value="Upload File">
                </form>
                {% for field in asset.get_all_fields %}
                <div class="row">
                    <div class="col-4">
                        {{ field.label }}
                    </div>
                    <div class="col-8">
                        {{ field.value|truncatechars:100 }}
                    </div>
                </div>
                {% endfor %}
                {% if asset.creator == request.user %}
                <div class="card-action">
                    <a href="{% url 'asset_edit' asset.uuid %}" class="waves-effect waves-light btn-small">Edit</a>
                    <a href="{% url 'asset_delete' asset.uuid %}" class="waves-effect waves-light btn-small red darken-4">Delete</a>
                    {% comment %}
                    <form action="{% url 'like_asset' asset.uuid %}" method="POST" class="right">
                        {% csrf_token %}
                        <button type="submit" , name="asset_id" , value="{{ post.id }}"
                            class="waves-effect waves-light btn-small">
                            Like <i class="material-icons">favorite</i></button>
                        <br>
                        <p class="secondary-content">
                            {% if asset.total_likes > 0 %}<i class="material-icons">grade</i>
                            {{ asset.total_likes }}
                            {% endif %}
                        </p>
                    </form>
                    {% endcomment %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card bg-dark">
            <div class="card-body">
                {% if asset.creator == request.user %}
                <div class="sellbutton">
                <h3 class = "center-align">READY TO AUCTION YOUR NFT?</h3>
                <br>   
                <div class = "center-align">
                <a href="{% url 'asset_add_auction' asset.uuid %}" class="waves-effect waves-light btn-large">Auction</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
