{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

<div class="table-responsive text-white">
    <table id="datatable_assets" width="100%" class="table table-striped table-bordered dt-responsive compact text-light">
        <thead>
            <tr>
                <th data-data="uuid">UUID</th>
                <th data-data="asset_type">Type</th>
                <th data-data="creator">Creator</th>
                <th data-data="name">Name</th>
            </tr>
        </thead>

    </table>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#datatable_assets').dataTable({
            // ...
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'ajax_datatable_assets' %}"
        });
        // ...
    });
</script>
{% endblock %}
