{% extends 'base.html' %}

{% block content %}

{% if searched %}
<h2>You searched for '{{ searched }}'</h2>
<hr>
{% if search_result|length %}
{% for asset in search_result %}
<a href="{% url 'asset_detail' asset.uuid %}">
    <div class="card">
        <div class="card-content">
            <div class="card-img-container">
                <img class="responsive-img card-panel" src="{{ asset.preview_uri }}" loading="lazy">
            </div>
            <h2 class="card-title">{{ asset.name }}</h2>
            <p><small>{{ asset.token_id }}</small></p>
        </div>
    </div>
</a><br />
{% endfor %}
{% else %}
<h2 class="noasset">No NFT's Found :(</h2>
{% endif %}
{% else %}
<h2>Hey! You forgot to enter a NFT name in the search box.</h2>
{% endif %}
{% endblock %}
