appnope
asgiref
backcall
boto3
channels
decorator
dj-database-url
Django
django-bootstrap5
django-bootstrap-datepicker-plus
django-datatables-view
django-environ
django-heroku
django-mathfilters
django-taggit
#git+https://github.com/neuro-rights/django-metamask-auth.git@main
#djangorestframework
eth-brownie
fontawesomefree
gunicorn
#ipfshttpclient
#jmespath
libgravatar
#jedi
matplotlib-inline
opensea-api
#parso
#pexpect
Pillow>=9.0.1
psycopg2-binary
python-dateutil
#pytz
#six
#sqlparse
#pickleshare
#prompt-toolkit
psycopg2
#ptyprocess
#Pygments
#traitlets
urllib3
vyper
#wcwidth
web3
#whitenoise
