asgiref
boto3
dj-database-url
Django
django-bootstrap4
django-bootstrap-datepicker-plus
django-environ
django-heroku
gunicorn
jmespath
Pillow>=9.0.1
psycopg2-binary
python-dateutil
six
sqlparse
urllib3
whitenoise
django-mathfilters
ipfshttpclient
eth-brownie
appnope
backcall
decorator
jedi
matplotlib-inline
parso
pexpect
pickleshare
prompt-toolkit
psycopg2
ptyprocess
Pygments
traitlets
wcwidth
django-materializecss-form
libgravatar
