{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

{% for instance in asset %}
    <h5>Asset: {{instance.fields.uuid}}</h5>
    {% for field, value in instance.fields.items %}
        <div class="row">
            <div class="col">
                {{ field }}
            </div>
            <div class="col">
                {{ value }}
            </div>
        </div>
    {% endfor %}
    {% if asset.seller == request.user %}
    <div class="row">
        <div class="col">
            <a href="{% url 'raffle_edit' raffle.uuid %}"
                class="waves-effect waves-light btn">Edit</a>
            <a href="{% url 'raffle_delete' raffle.uuid %}"
                class="waves-effect waves-light btn">Delete</a>
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}

