{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

<h5>Asset: {{asset.uuid}}</h5>
{% for field in asset.get_all_fields %}
<div class="row">
    <div class="col-4">
        {{ field.label }}
    </div>
    <div class="col-8">
        {{ field.value }}
    </div>
</div>
{% endfor %}
{% if asset.seller == request.user %}
<div class="row">
    <div class="col">
        <a href="{% url 'asset_edit' asset.uuid %}"
            class="text-white btn">Edit</a>
        <a href="{% url 'asset_delete' asset.uuid %}"
            class="text-white btn">Delete</a>
    </div>
</div>
{% endif %}
{% endblock %}

