{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

<div class="table-responsive">
    <table id="datatable_purchases_bought" width="100%" class="table table-striped table-bordered dt-responsive compact nowrap">
        <thead>
            <tr>
                <th data-data="id">ID</th>
                <th data-data="uuid">UUID</th>
                <th data-data="bid">bid</th>
                <th data-data="tx_hash">tx_hash</th>
                <th data-data="tx_token">tx_token</th>
                <th data-data="purchase_time">purchase_time</th>
            </tr>
        </thead>
    </table>
</div>
<div class="table-responsive">
    <table id="datatable_purchases_sold" width="100%" class="table table-striped table-bordered dt-responsive compact nowrap">
        <thead>
            <tr>
                <th data-data="id">ID</th>
                <th data-data="uuid">UUID</th>
                <th data-data="bid">bid</th>
                <th data-data="tx_hash">tx_hash</th>
                <th data-data="tx_token">tx_token</th>
                <th data-data="purchase_time">purchase_time</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        var oTable_bought = $('#datatable_purchases_bought').dataTable({
            // ...
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'ajax_datatable_purchases_bought' %}"
        });
        // ...
        var oTable_sold = $('#datatable_purchases_sold').dataTable({
            // ...
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'ajax_datatable_purchases_sold' %}"
        });
        // ...
    });
</script>
{% endblock %}
