{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

<h5>{{collection.uuid|upper}}</h5>
<div class="row">
    <div class="col-6">
        <div class="card bg-dark">
            <div class="card-body">
                <span class="card-title"></span>
                <link rel="preload" class="responsive-img card-panel" href="{{ collection.uri_preview }}" as="image" crossorigin>
                {% if collection.collection_type == 'audio' %}
                <audio controls>
                    <source src="{{ collection.uri_preview }}" type="audio/mp3">
                </audio>
                {% elif collection.collection_type == 'video' %}
                <video width="100%" controls>
                    <source src="{{ collection.uri_preview }}" type="video/mp4">
                </video> 
                {% elif collection.collection_type == 'image' %}
                <img width="100%" align="center"  src="{{ collection.uri_preview }}"/>
                {% else %}
                <a href="{{ collection.uri_preview }}">File link</a>
                {% endif %}
                {% for field in collection.get_all_fields %}
                <div class="row">
                    <div class="col-4">
                        {{ field.label }}
                    </div>
                    <div class="col-8">
                        {{ field.value|truncatechars:50 }}
                    </div>
                </div>
                {% endfor %}

                <form action="{% url 'collection_metadata_file' collection.uuid %}" enctype="multipart/form-data" method="POST" class="card-panel">
                    {% csrf_token %}
                    <input type="file" name="json-file">
                    <br><br>
                    <input type="submit" class="btn btn-outline-light" value="Upload Metadata Files">
                </form>

                <form action="{% url 'collection_ipfs_upload_files' collection.uuid %}" enctype="multipart/form-data" method="POST" class="card-panel">
                    {% csrf_token %}
                    <input type="file" name="asset-files" multiple>
                    <br><br>
                    <input type="submit" class="btn btn-outline-light" value="Upload Asset Files">
                </form>

                {% if collection.seller == request.user %}
                <div class="card-action">
                    <a href="{% url 'collection_edit' collection.uuid %}" class="waves-effect waves-light btn-small">Edit</a>
                    <a href="{% url 'collection_delete' collection.uuid %}" class="waves-effect waves-light btn-small red darken-4">Delete</a>
                    {% comment %}
                    <form action="{% url 'like_asset' asset.uuid %}" method="POST" class="right">
                        {% csrf_token %}
                        <button type="submit" , name="asset_id" , value="{{ post.id }}"
                            class="waves-effect waves-light btn-small">
                            Like <i class="material-icons">favorite</i></button>
                        <br>
                        <p class="secondary-content">
                            {% if asset.total_likes > 0 %}<i class="material-icons">grade</i>
                            {{ asset.total_likes }}
                            {% endif %}
                        </p>
                    </form>
                    {% endcomment %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card bg-dark">
            <div class="card-body">
                {% if collection.seller == request.user %}
                <div class="sellbutton">
                <h3 class = "center-align">READY TO AUCTION YOUR COLLECTION?</h3>
                <br>   
                <div class = "center-align">
                <a href="{% url 'collection_add_auction' collection.uuid %}" class="waves-effect waves-light btn-large">Auction</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
