{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}

{% if object %}
<h5>EDIT COLLECTION: <span class="teal-text">{{collection.uuid|upper}}</span></h5>
{% else %}
<h5>CREATE COLLECTION</h5>
{% endif %}

<div class="row mt-5">
    <form class="col" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <hr>
        <div class="row">
            <div class="col">
                <button class="btn-small waves-effect waves-light teal" type="submit" name="action" id="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

