{% extends 'base.html' %} 

{% block content %} {% load mathfilters %}

<h2>AUCTIONS {{ auctions|length }}</h2>
<div class="row">
    <div class="col-6">
        <div class="card bg-dark">
            <div class="card-body">
                <ul class="collection">
                    {% for auction in auctions %}
                    <li class="collection-item">
                        {{ auction.fields.collections }}
                        <a href="{% url 'auction_detail' auction.fields.uuid %}">
                            <div class="row" style="box-sizing:border-box;">
                                <div class="col" style="padding:20px 50px;">
                                    <div class="row">
                                        <div class="col">
                                            <p>Total ASSETS:</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ auction.fields.collections|length }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>Blockchain:</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ auction.fields.blockchain }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>Description:</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ auction.fields.description|truncatechars:25 }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>Seller:</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ auction.fields.seller }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="col s2" style="padding:20px;">
                                    <p class="secondary-content">
                                        {% if auction.fields.total_likes > 0 %}<i class="material-icons">grade</i>
                                        {{ auction.fields.total_likes }}
                                        {% endif %}
                                    </p>
                                </div>
                                -->
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% if page_obj %}
<div class="container pagination">
    <span class="step-links">

        {% if page_obj.has_previous %}
        <a href="?page=1"><i class="material-icons">first_page</i></a>
        <a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
        {% endif%}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
        <a href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">last_page</i></a>
        {% endif%}

        <hr>
        {% for page_number in page_obj.paginator.get_elided_page_range %}
        {% if page_number == page_obj.paginator.ELLIPSIS %} {{ page_number }}
        {% else %}
        <a href="?page={{ page_number }}"
            class="{% if page_number == page_obj.number %}current{% endif %}">{{page_number}}</a>
        {% endif %}
        {% endfor %}
    </span>
</div>
{% endif %}
{% endblock %}

