{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<!-- Page Layout here -->
<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#ethereum" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#ethereum"></use></svg>
                    Ethereum
                </a>
            </li>
            <li>
                <a href="#infura_ipfs" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#infura_ipfs"></use></svg>
                    Infura IPFS
                </a>
            </li>
            <li>
                <a href="#infura_ethereum" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="infura_ethereum"></use></svg>
                    Infura Ethereum
                </a>
            </li>
            <li>
                <a href="#pinata" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#pinata"></use></svg>
                    Pinata
                </a>
            </li>
            <li>
                <a href="#awss3" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#awss3"></use></svg>
                    AWS S3
                </a>
            </li>
            <li>
                <a href="#etherscan" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#etherscan"></use></svg>
                    Etherscan
                </a>
            </li>
        </ul>
        <hr>
        <!--
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" class="rounded-circle me-2" width="32" height="32">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
        -->
    </div>
    <div class="col">
        {% if messages %}
        <section>
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <section id="ethereum">
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                {% bootstrap_form form_ethereum layout='horizontal' %}
                <input type="submit" class="btn btn-outline-light" value="update profile">
            </form>
        </section>
        <section id="infura_ethereum">
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                {% bootstrap_form form_infura_ethereum layout='horizontal' %}
                <input type="submit" class="btn btn-outline-light" value="update profile">
            </form>
        </section>
        <section id="infura_ipfs">
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                {% bootstrap_form form_infura_ipfs layout='horizontal' %}
                <input type="submit" class="btn btn-outline-light" value="update profile">
            </form>
        </section>
        <section id="pinata">
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                {% bootstrap_form form_pinata layout='horizontal' %}
                <input type="submit" class="btn btn-outline-light" value="update profile">
            </form>
        </section>
        <section id="awss3">
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                {% bootstrap_form form_aws_s3 layout='horizontal' %}
                <input type="submit" class="btn btn-outline-light" value="update profile">
            </form>
        </section>
        <section id="etherscan">
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                {% bootstrap_form form_etherscan layout='horizontal' %}
                <input type="submit" class="btn btn-outline-light" value="update profile">
            </form>
        </section>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
{% endblock %}
