{% extends 'base.html' %} {% load materializecss %}
{% block content %}

<!-- Page Layout here -->
<div class="row">

    <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Teal page content

            This content will be:
        9-columns-wide on large screens,
        8-columns-wide on medium screens,
        12-columns-wide on small screens  -->

        {% if messages %}
        <section>
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <section>
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn" value="update profile">
            </form>
        </section>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        let elems = document.querySelectorAll('.sidenav');
        let instances = M.Sidenav.init(elems);
        instances.forEach(function (instance) {
            instance.open();
        });
    });
</script>
{% endblock %}