{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<!-- Page Layout here -->
<div class="row">
    <div class="col">
        {% if messages %}
        <section>
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <section>
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <input type="submit" class="btn" value="update profile">
            </form>
        </section>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
{% endblock %}
