{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

<!-- Page Layout here -->
<div class="row">
    <div class="col s12 m4 l3">
        <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel

            This content will be:
        3-columns-wide on large screens,
        4-columns-wide on medium screens,
        12-columns-wide on small screens  -->
    </div>

    <div class="col s12 m8 l9">
        <!-- Note that "m8 l9" was added -->
        <!-- Teal page content

            This content will be:
        9-columns-wide on large screens,
        8-columns-wide on medium screens,
        12-columns-wide on small screens  -->
        <h2>{{ page_obj|length }} RAFFLE'S</h2>
        <ul class="collection">
            {% for raffle in page_obj %}
            <li class="collection-item" style="padding:25px;">
                <div class="row">
                    <a href="{% url 'nft_detail' nft.id %}">
                        <div class="col s12">
                            <span>{{ raffle.uuid }}</span>
                            <p>{{ raffle.description }}</p>
                            <p>{{ raffle.participants|length }}</p>
                            <p>{{ raffle.winner }}</p>
                            <p>{{ raffle.token_id }}</p>
                            <p>{{ raffle.status }}</p>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}