{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

<h5>{{raffle.uuid|upper}}</h5>
<ul class="collection">
    <li class="collection-item" style="padding:25px;">
        <div class="row">
            <a href="{% url 'raffle_detail' raffle.uuid %}">
                <div class="col s12">
                    <span>{{ raffle.uuid }}</span>
                    <p>{{ raffle.description|truncatechars:25 }}</p>
                    <p>{{ raffle.participants|length }}</p>
                    <p>{{ raffle.winner }}</p>
                    <p>{{ raffle.token_id }}</p>
                    <p>{{ raffle.status }}</p>
                </div>
            </a>
        </div>
        {% if raffle.asset.seller == request.user %}
        <div class="row">
            <div class="col s12">
                <a href="{% url 'raffle_edit' raffle.uuid %}"
                    class="waves-effect waves-light btn-small teal darken-4">Edit Raffle</a>
                <a href="{% url 'raffle_delete' raffle.uuid %}"
                    class="waves-effect waves-light btn-small red darken-4">Delete Raffle</a>
            </div>
        </div>
        {% endif %}
    </li>
</ul>
{% endblock %}
