{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

<div class="table-responsive">
    <table id="datatable_raffles" width="100%" class="table table-striped table-bordered dt-responsive compact nowrap">
        <thead>
            <tr>
                <th data-data="id">ID</th>
                <th data-data="uuid">UUID</th>
                <th data-data="description">Description</th>
            </tr>
        </thead>
    </table>
</div>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        var oTable = $('#datatable_raffles').dataTable({
            // ...
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'ajax_datatable_raffles' %}"
        });
        // ...
    });
</script>
{% endblock %}
