{% extends 'base.html' %} {%load mathfilters%}
{% block content %}

<h5>Bid: {{bid.uuid}}</h5>
{% for field in bid.get_all_fields %}
<div class="row">
    <div class="col-4">
        {{ field.label }}
    </div>
    <div class="col-8">
        {{ field.value }}
    </div>
</div>
{% endfor %}
{% if bid.buyer == request.user %}
<div class="row mt-5">
    <div class="col d-flex justify-content-end">
        <a href="{% url 'bid_edit' bid.uuid %}"
            class="text-white btn btn-success">Edit</a>
        <a href="{% url 'bid_delete' bid.uuid %}"
            class="text-white btn btn-danger">Delete</a>
    </div>
</div>
{% endif %}
{% endblock %}

