{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

<div class="table-responsive">
    <table id="datatable_bids_made" width="100%" class="table table-striped table-bordered dt-responsive compact nowrap">
        <thead>
            <tr>
                <th data-data="id">ID</th>
                <th data-data="uuid">UUID</th>
            </tr>
        </thead>
    </table>
</div>
<div class="table-responsive">
    <table id="datatable_bids_received" width="100%" class="table table-striped table-bordered dt-responsive compact nowrap">
        <thead>
            <tr>
                <th data-data="id">ID</th>
                <th data-data="uuid">UUID</th>
            </tr>
        </thead>
    </table>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        var oTable_made = $('#datatable_bids_made').dataTable({
            // ...
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'ajax_datatable_bids_made' %}"
        });
        // ...
        var oTable_received = $('#datatable_bids_received').dataTable({
            // ...
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'ajax_datatable_bids_received' %}"
        });
        // ...
    });
</script>
{% endblock %}
