{% extends 'base.html' %}

{% block content %}
{% if object %}
<h2>EDIT <span class="teal-text">'{{nft.nft_name|upper}}'</span></h2>
{% else %}
<h2>CREATE NFT</h2>
{% endif %}

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
</form>

<div id="upload_progress" class="progress">
  <div class="determinate red darken-4" style="width: 0%"></div>
  <div style="width:100%;overflow:auto">
    <pre>Click submit to initiate upload...</pre>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $("#submit").click(function () {
    //
    var bid_id = $(this).val();
    //
    $.ajax({
      xhr: function () {
        var xhr = new window.XMLHttpRequest();
        xhr.upload.addEventListener("progress", function (evt) {
          if (evt.lengthComputable) {
            var percentComplete = evt.loaded / evt.total;
            console.log(percentComplete);
            $("#upload_progress").css({
              width: percentComplete * 100 + '%'
            });
            if (percentComplete === 1) {
              $("#upload_progress").addClass('hide');
            }
          }
        }, false);
        xhr.addEventListener("progress", function (evt) {
          if (evt.lengthComputable) {
            var percentComplete = evt.loaded / evt.total;
            console.log(percentComplete);
            $("#upload_progress").css({
              width: percentComplete * 100 + '%'
            });
          }
        }, false);
        return xhr;
      },
      type: 'POST',
      url: "/ajax/transaction_progress",
      data: { 'bid': bid_id },
      success: function (data) {
        console.log("Transaction Complete!")
      }
    });
  });
</script>
{% endblock %}