{% extends 'base.html' %}

{% block content %}
{% if object %}
<h2>EDIT <span class="teal-text">'{{nft.nft_name|upper}}'</span></h2>
{% else %}
<h2>CREATE NFT</h2>
{% endif %}

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn-small red darken-4">
</form>

<div class="progress">
  <div class="determinate red darken-4" style="width: 0%"></div>
</div>
{% endblock %}