{% extends 'base.html' %} {% block content %}

<h1>ALL NFT'S</h1>

{% for nft in nft_list %}
<a href="{% url 'nft_detail' nft.id %}">
    <div class="card">
        <div class="card-content">
            <div class="card-img-container">
                {% for photo in nft.photo_set.all %}
                <img class="responsive-img card-panel" src="{{photo.url}}"> {% empty %}
                <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                {% endfor %}
            </div>
            <h2 class="card-title">{{ nft.nft_name }}</h2>
            <p><small>{{ nft.token_id }}</small></p>
        </div>
    </div>
</a>
{% endfor %} {% endblock %}