{% extends 'base.html' %}

{% block content %}

{% if object %}
<h2>EDIT <span class="teal-text">'{{collection.name}}'</span></h2>
{% else %}
<h2>CREATE NFT COLLECTION</h2>
{% endif %}

<div class="progress">
    <div class="determinate" style="width: 100%"></div>
</div>

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
</form>

{% endblock %}