{% extends 'base.html' %}


{% block javascript %}
<script>
    //init slider
    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>
{% endblock %}


{% block content %} {%load mathfilters%}

<div class="collection">
    <div class="collection-item">
        <p>{{collection.name}}</p>
        <p>Creator: {{ collection.creator }}</p>
        <p>Blockchain: {{ collection.blockchain }}</p>
        <p>Token ID: {{ collection.token_id }}</p>
        {% if collection.creator == request.user %}
        <a href="{% url 'collection_edit' collection.id %}"
            class="waves-effect waves-light btn-small teal darken-4">Edit</a>
        <a href="{% url 'collection_delete' collection.id %}"
            class="waves-effect waves-light btn-small teal darken-4">Delete</a>
        {% endif %}
    </div>
</div>

{% if page_obj.has_previous %}
<a href="?page=1">◀️◀️</a>
<a href="?page={{ page_obj.previous_page_number }}">◀️</a>
{% endif%}
<a>{{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">▶️</a>
<a href="?page={{ page_obj.page_obj.paginator.num_pages }}">▶️▶️</a>
{% endif%}
<hr>
{% for page_number in page_obj.adjusted_elided_pages %}
{% if page_number == page_obj.paginator.ELLIPSIS %}
{{page_number}}
{% else %}
<a href="?page={{ page_obj.number }}"
    class="{% if page_number == page_obj.number %}current{% endif %}">{{page_number}}</a>
{% endif %}
{% endfor %}
{% endblock %}