{% extends 'base.html' %} {% block content %}

<h2>OWN NFT COLLECTIONS</h2>
<a href="{% url 'collection_create' %}" class="waves-effect waves-light btn-small teal darken-4">Create Collection</a>

{% for collection in collections_list %}
<div class="collection">
    <div class="collection-item">
        <p>{{collection.name}}</p>
        <p>Creator: {{ collection.creator }}</p>
        <p>Blockchain: {{ collection.blockchain }}</p>
        <p>Token ID: {{ collection.token_id }}</p>
        {% if collection.creator == request.user %}
        <a href="{% url 'collection_edit' collection.id %}"
            class="waves-effect waves-light btn-small teal darken-4">Edit</a>
        <a href="{% url 'collection_delete' collection.id %}"
            class="waves-effect waves-light btn-small red darken-4">Delete</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}