body {
    background-color: #1F2833;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

nav.nav-extended {
    background-color: #00695c;
}

h1,
h2 {
    color: whitesmoke;
}

.card-title {
    margin-top: 5px;
    color: whitesmoke;
}

.card {
    width: 500px;
    border-radius: 0;
    background-color: #00695c;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.classone,
.classtwo {
    display: flex;
    justify-content: space-evenly;
}

.bidcard {
    display: flex;
    justify-content: space-evenly;
}

.btn-small {
    margin-top: 10px;
}

nav .nav-wrapper {
    background-color: #0B0C10;
    height: 100%;
}

.page-footer {
    background-color: #00695c;
}

nav .brand-logo {
    font-size: 2.4rem;
    color: whitesmoke;
}

nav ul a {
    font-size: 1.2rem;
}

label {
    font-size: 15px;
}

a:hover {
    color: #64ffda;
}

a {
    color: whitesmoke;
}

input,
textarea {
    color: #64ffda;
}

li form {
    display: flex;
    margin-right: 25px;
}

#search {
    border: none;
    background-color: transparent;
    outline: none;
}

label {
    color: whitesmoke;
}

.nonft {
    color: whitesmoke;
}

#searchbar {
    margin: 0 0 0 45px;
}

#searchbar::placeholder {
    color: whitesmoke;
}

#welcome {
    color: #C5C6C7;
}

p #id_bidprice {
    color: black;
}

.header-text {
    color: #c5dbd9;
}

.collection .collection-item {
    background-color: #00695c;
}

.collection .collection-item p,
.collection .collection-item span {
    color: whitesmoke;
}

ul li,
.helptext {
    color: lawngreen;
}

.errorlist li {
    color: #79bedb;
}

.navbar-fixed {
    margin-bottom: 77px;
}