{% extends 'base.html' %}


{% block javascript %}
<script>
    $("#accept").click(function () {
        //
        var bid_id = $(this).val();
        //
        $.ajax({
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('#transaction_progress').css({
                            width: percentComplete * 100 + '%'
                        });
                        if (percentComplete === 1) {
                            $('#transaction_progress').addClass('hide');
                        }
                    }
                }, false);
                xhr.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('#transaction_progress').css({
                            width: percentComplete * 100 + '%'
                        });
                    }
                }, false);
                return xhr;
            },
            type: 'POST',
            url: "/ajax/transaction_progress",
            data: { 'bid': bid_id },
            success: function (data) {
                console.log("Transaction Complete!")
            }
        });
    });
</script>
{% endblock %}


{% block content %} {% load mathfilters %}

<h2>{{nft.nft_name}}</h2>
<div class="bidcard">
    <div class="card">
        <div class="card-content">
            <span class="card-title"></span> {% for photo in nft.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}"> {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% if notempty %} <br> {% elif nft.creator == request.user %}
            <form action="{% url 'add_photo' nft.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn" value="Upload Photo">
            </form>
            {% endif %} {% endfor %}
            <form action="{% url 'like_nft' nft.pk %}" method="POST" class="right">
                {% csrf_token %}
                <button type="submit" , name="nft_id" , value="{{ post.id }}"
                    class="waves-effect waves-light btn-small">
                    Like <i class="tiny material-icons">favorite</i> </button>
                <br>
                {{nft.total_likes}} Likes
            </form>
            <p>Creator: {{ nft.creator }}</p>
            <p>Blockchain: Ethereum</p>
            <p>Token ID: {{ nft.token_id }}</p>
            <p>Description: {{ nft.description }}</p>
            {% if nft.creator == request.user %}
            <a href="{% url 'nft_edit' nft.id %}" class="waves-effect waves-light btn-small">Edit</a>
            <a href="{% url 'nft_delete' nft.id %}" class="waves-effect waves-light btn-small">Delete</a> {% endif %}
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <table class="striped">
                {% for bid in nft.bid_set.all %}
                {% if forloop.first %}
                <h4>Top Bid: ETH {{ bid.bid_price }}</h4>
                {% endif %}
                {% endfor %}
                {% for sell in nft.sell_set.all %}
                <thead>
                    <tr>
                        <th>Sale Ends</th>
                        <th>Min Bid Price</th>
                        <th>USD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{sell.sale_ends}}</td>
                        <td>ETH {{sell.min_bid_price}}</td>
                        <td>${{sell.min_bid_price|mul:2735}}</td>
                    </tr>
                    {% empty %}
                    {% if nft.creator == request.user %}
                    <div class="sellbutton">
                        <h3 class="center-align">READY TO SELL YOUR NFT?</h3>
                        <br>
                        <div class="center-align">
                            <a href="{% url 'sell' nft.id %}" class="waves-effect waves-light btn-large pulse">Sell</a>
                        </div>
                    </div>
                    {%else%}
                    <h3 class="center-align">SORRY! THIS NFT IS NOT FOR SALE ~_~</h3>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            {% for sell in nft.sell_set.all %}
            <span class="card-title"></span>
            <hr>
            {% if nft.creator == request.user %}
            <div></div>
            {%else%}
            <form action="{% url 'add_bid' nft.id %}" class='bidprice' method="post">
                {% csrf_token %} {{ bid_form.as_p }}
                <input type="submit" class="btn pulse" value="Add Bid">
            </form>
            {% endif %}

            {% if nft.creator == request.user %}
            <table class="striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Bidder</th>
                        <th>Bid</th>
                        <th>USD</th>
                        <th>MINT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bid in nft.bid_set.all %}
                    <tr>
                        <td>{{ bid.bid_time|date:'m-d H:i' }}</td>
                        <td>{{ bid.bidder.username }}</td>
                        <td>ETH {{ bid.bid_price }}</td>
                        <td>${{ bid.bid_price|mul:2735 }}</td>
                        <td class="center-align">
                            <form action="{% url 'accept_bid' bid.id %}" enctype="multipart/form-data" method="POST"
                                class="bidprice">
                                {% csrf_token %}
                                <button type="submit"
                                    class="btn-floating btn-small waves-effect waves-light circle green pulse"><i
                                        class="material-icons">check</i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<code id="transaction_progress"></code>
{% endblock %}