{% extends 'base.html' %} {% block content %}

<h2>NFT'S FOR SALE</h2>

{% for sell in page_obj %}
<a href="{% url 'nft_detail' sell.nft.id %}">
    <div class="card">
        <div class="card-content">
            <div class="card-img-container">
                {% for photo in sell.nft.photo_set.all %}
                <img class="responsive-img card-panel" src="{{photo.url}}" loading="lazy"> {% empty %}
                <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                {% endfor %}
                <h3 class="card-title">{{ sell.nft.nft_name|upper }}</h3>
                <p class="card-title"><small>{{ sell.nft.description }}</small></p>
                <p><small>{{ sell.nft.token_id }}</small></p>
            </div>
        </div>
        <div class="card-action">
            <a href="{% url 'nft_edit' sell.nft.id %}" class="waves-effect waves-light btn-small teal darken-4">EDIT</a>
            <small>
                <span class="new badge blue" data-badge-caption="bids">
                    {{ sell.nft.bid_set.all|length }}
                </span>
                <span class="new badge red" data-badge-caption="{{ sell.nft.blockchain }}">
                    {{ sell.min_bid_price }}
                </span>
            </small>
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}