{% extends 'base.html' %} {% block content %}

<h2>NFT'S FOR SALE</h2>

{% for nft in nfts_list %}
{% for sell in nft.sell_set.all %}
<a href="{% url 'nft_detail' nft.id %}">
    <div class="card horizontal">
        <div class="card-content">
            <div class="card-img-container">
                {% for photo in nft.photo_set.all %}
                <img class="responsive-img card-panel" src="{{photo.url}}" loading="lazy"> {% empty %}
                <div class="card-panel center-align">No Photos Uploaded</div>
                {% endfor %}
            </div>
            <h2 class="card-title">{{ nft.nft_name }}</h2>
            <p><small>{{ nft.token_id }}</small></p>

        </div>
        <div class="card-action">
            <a href="{% url 'nft_edit' nft.id %}" class="waves-effect waves-light btn-small">EDIT</a>
        </div>
    </div>
</a>
{% endfor %}
{% endfor %}

{% block pagination %}
{% if page_obj.has_previous %}
<a href="?page=1">◀️◀️</a>
<a href="?page={{ page_obj.previous_page_number }}">◀️</a>
{% endif%}
<a>{{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">▶️</a>
<a href="?page={{ page_obj.page_obj.paginator.num_pages }}">▶️▶️</a>
{% endif%}
<hr>
{% for page_number in page_obj.paginator.page_range %}
<a href="?page={{ page_obj.number }}"
    class="{% if page_number == page_obj.number %}current{% endif %}">{{page_number}}</a>
{% endfor %}
{% endblock %}


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}