{% extends 'base.html' %} {% load mathfilters %}
{% block content %}

<!-- Page Layout here -->
<div class="row">
    <div class="col s12">
        <!-- Note that "m8 l9" was added -->
        <!-- Teal page content

            This content will be:
        9-columns-wide on large screens,
        8-columns-wide on medium screens,
        12-columns-wide on small screens  -->
        <h4>{{ page_obj|length }} VIDEO NFTS q(❂‿❂)p</h4>
        {% for obj in page_obj %}
        <a href="{% url 'nft_detail' obj.fields.uuid %}">
            <table class="responsive-table">
                <thead>
                    <tr>
                        {% for field, _ in obj.fields.items %}
                        <th>{{ field }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for _, value in obj.fields.items %}
                        <td>{{ value }}</td>
                        {% endfor%}
                    </tr>
                </tbody>
            </table>
        </a>
        {% endfor %}
    </div>
</div>
{% if page_obj %}
<div class="container pagination">
    <span class="step-links">

        {% if page_obj.has_previous %}
        <a href="?page=1"><i class="material-icons">first_page</i></a>
        <a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
        {% endif%}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
        <a href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">last_page</i></a>
        {% endif%}

        <hr>
        {% for page_number in page_obj.paginator.get_elided_page_range %}
        {% if page_number == page_obj.paginator.ELLIPSIS %} {{ page_number }}
        {% else %}
        <a href="?page={{ page_number }}"
            class="{% if page_number == page_obj.number %}current{% endif %}">{{page_number}}</a>
        {% endif %}
        {% endfor %}
    </span>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
{% endblock %}