{% extends 'base.html' %} {% block content %}

<h2>{{ request.user.username }} NFT'S</h2>

<a href="{% url 'nft_create' %}">Create NFT</a>

{% for nft in nfts_list %}
<a href="{% url 'nft_detail' nft.id %}">
    <div class="card horizontal">
        <div class="card-content">
            <div class="card-img-container">
                {% for photo in nft.photo_set.all %}
                <img class="responsive-img card-panel" src="{{photo.url}}" loading="lazy"> {% empty %}
                <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                {% endfor %}
            </div>
            <h3 class="card-title">{{ nft.nft_name }}</h3>
            <p class="card-title">{{ nft.description }}</p>
            <p><small>{{ nft.token_id }}</small></p>
            <a href="{% url 'nft_edit' nft.id %}" class="waves-effect waves-light btn-small">EDIT</a>
        </div>
    </div>
</a>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}