{% extends 'base.html' %} {%load mathfilters%}
{% block content %}

<h2>{{auction.uuid|upper}}</h2>
<div class="collection">
    <div class="collection-item" style="padding: 77px;">
        <div class="row">
            <div class="col s10">
                <div class="row">
                    <div class="col s4">
                        <span>UUID:</span>
                    </div>
                    <div class="col s8">
                        <span>{{ auction.uuid }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <p>TOTAL ASSETS:</p>
                    </div>
                    <div class="col s8">
                        <p>{{ auction.num_assets }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <p>Description:</p>
                    </div>
                    <div class="col s8">
                        <p>{{ auction.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if auction.creator == request.user %}
        <div class="row">
            <div class="col s12">
                <a href="{% url 'auction_edit' auction.uuid %}"
                    class="waves-effect waves-light btn-small teal darken-4">Edit Auction</a>
                <a href="{% url 'auction_delete' auction.uuid %}"
                    class="waves-effect waves-light btn-small red darken-4">Delete Auction</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
