{% extends 'base.html' %} {%load mathfilters%}
{% block content %}

{% for instance in auction %}
    <h5>Auction: {{instance.fields.uuid}}</h5>
    {% for field, value in instance.fields.items %}
        <div class="row">
            <div class="col-4">
                {{ field }}
            </div>
            <div class="col-8">
                {{ value }}
            </div>
        </div>
    {% endfor %}
    {% if auction.seller == request.user %}
    <div class="row">
        <div class="col">
            <a href="{% url 'auction_edit' auction.uuid %}"
                class="waves-effect waves-light btn">Edit</a>
            <a href="{% url 'auction_delete' auction.uuid %}"
                class="waves-effect waves-light btn">Delete</a>
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}


