{% extends 'base.html' %} 

{% block content %} {% load mathfilters %}

<h2>MARKET {{ page_obj|length }}</h2>
{% if page_obj|length > 0 %}
{% for auction in page_obj %}
<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for asset in auction.assets.all %}
        <link rel="preload" href="{{ asset.uri_preview }}" as="image" crossorigin>
        <div class="carousel-item active">
            {% if asset.asset_type == 'audio' %}
            <audio controls>
                <source src="{{ asset.uri_preview }}" type="audio/mp3">
            </audio>
            {% elif asset.asset_type == 'video' %}
            <video width="100%" controls>
                <source src="{{ asset.uri_preview }}" type="video/mp4">
            </video> 
            {% elif asset.asset_type == 'image' %}
            <img width="100%" align="center"  src="{{ asset.uri_preview }}"/>
            {% else %}
            <a href="{{ asset.uri_preview }}">File link</a>
            {% endif %}
            <a href="{% url 'auction_detail' auction.uuid %}">
                {% for field in auction.get_all_fields %}
                <div class="row">
                    <div class="col-4">
                        {{ field.label }}
                    </div>
                    <div class="col-8">
                        {{ field.value|truncatechars:50 }}
                    </div>
                </div>
                {% endfor %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endif %}

{% if page_obj %}
<div class="container pagination">
    <span class="step-links">

        {% if page_obj.has_previous %}
        <a href="?page=1"><i class="material-icons">first_page</i></a>
        <a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">keyboard_arrow_left</i></a>
        {% endif%}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">keyboard_arrow_right</i></a>
        <a href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">last_page</i></a>
        {% endif%}

        <hr>
        {% for page_number in page_obj.paginator.get_elided_page_range %}
        {% if page_number == page_obj.paginator.ELLIPSIS %} {{ page_number }}
        {% else %}
        <a href="?page={{ page_number }}"
            class="{% if page_number == page_obj.number %}current{% endif %}">{{page_number}}</a>
        {% endif %}
        {% endfor %}
    </span>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>
{% endblock %}
