{% extends 'base.html' %} {% block content %}

<ul class="collection">
    {% for collection in collections_list %}
    <li class="collection-item avatar">
        <a href="{% url 'collection_detail' collection.id %}">
            {% for photo in collection.get_random_nft.photo_set.all %}
            <div class="row valign-wrapper">
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <div class="col s2">
                        <img src="{{ photo.url }}" alt="" class="circle responsive-img">
                    </div>
                    {% endfor %}
                    <div class="col s10">
                        <span>{{ collection.name }}</span>
                        <p>{{ collection.description }}</p>
                        <p>{{ collection.description }}</p>
                        <p>{{ collection.blockchain }}</p>
                        <p>{{ collection.token_id }}</p>
                        <p class="secondary-content"><i class="material-icons">grade</i></p>
                    </div>
                </div>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

{% if page_obj.has_previous %}
<a href="?page=1">◀️◀️</a>
<a href="?page={{ page_obj.previous_page_number }}">◀️</a>
{% endif%}
<a>{{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">▶️</a>
<a href="?page={{ page_obj.page_obj.paginator.num_pages }}">▶️▶️</a>
{% endif%}
<hr>
{% for page_number in page_obj.paginator.page_range %}
<a href="?page={{ page_obj.number }}"
    class="{% if page_number == page_obj.number %}current{% endif %}">{{page_number}}</a>
{% endfor %}
{% endblock %}